/* src/styles/Loading.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-image {
    width: 50px;
    height: 50px;
}

.loading-container p {
    color: #fff;
    margin-top: 10px;
    font-size: 1.2rem;
}
